.CodeMirror-linebackground.admonition {
  border-left: 0.4em solid blue;
  background-color: #f6fcff;
}

.CodeMirror-line.admonition.admonition-header {
  font-size: 1.5em;
  border-bottom: 0.2em dotted blue;
  border-left: 0.3em solid blue;
}

.CodeMirror-line.admonition {
  padding-left: 0.5em !important;
}
.CodeMirror-line.admonition.content {
  padding-left: 1.5em !important;
}

.cm-admonition-type, .cm-admonition-end {
  color: blue;
}

.note.CodeMirror-linebackground.admonition,
.note.admonition-header.CodeMirror-line{
  border-color: blue;
  background-color: #f6fcff;
}

.cm-note.cm-admonition-type,
.cm-note.cm-admonition-end {
  color: blue
}

.abstract.CodeMirror-linebackground.admonition,
.abstract.admonition-header.CodeMirror-line{
  border-color: blue;
  background-color: #f6fcff;
}

.cm-abstract.cm-admonition-type,
.cm-abstract.cm-admonition-end {
  color: blue
}

.success.CodeMirror-linebackground.admonition,
.success.admonition-header.CodeMirror-line{
  border-color: green;
  background-color: #bdffbd;
}

.cm-success.cm-admonition-type,
.cm-success.cm-admonition-end {
  color: green;
}

.question.CodeMirror-linebackground.admonition,
.question.admonition-header.CodeMirror-line{
  border-color: green;
  background-color: #bdffbd;
}

.cm-question.cm-admonition-type,
.cm-question.cm-admonition-end {
  color: green;
}

.tip.CodeMirror-linebackground.admonition,
.tip.admonition-header.CodeMirror-line {
  border-color: green;
  background-color: #bdffbd;
}

.cm-tip.cm-admonition-type,
.cm-tip.cm-admonition-end {
  color: green;
}

.warning.CodeMirror-linebackground.admonition,
.warn.CodeMirror-linebackground.admonition,
.warn.admonition-header.CodeMirror-line,
.warning.admonition-header.CodeMirror-line{
  border-color: orange;
  background-color: #fffeec;
}

.cm-warning.cm-admonition-type,
.cm-warn.cm-admonition-type,
.cm-warning.cm-admonition-end,
.cm-warn.cm-admonition-end {
  color: orange;
}

.example.CodeMirror-linebackground.admonition,
.example.admonition-header.CodeMirror-line{
  border-color: gray;
}

.cm-example.cm-admonition-type,
.cm-example.cm-admonition-end {
  color: gray
}

.quote.CodeMirror-linebackground.admonition,
.quote.admonition-header.CodeMirror-line{
  border-color: gray;
}

.cm-quote.cm-admonition-type,
.cm-quote.cm-admonition-end {
  color: gray
}

.CodeMirror-linebackground.admonition.bug,
.bug.admonition-header.CodeMirror-line{
  border-color: darkred;
  background-color: #ff8080;
}

.cm-admonition-type.cm-bug,
.cm-admonition-end.cm-bug{
  color: darkred
}

.danger.CodeMirror-linebackground.admonition,
.danger.admonition-header.CodeMirror-line{
  border-color: darkred;
  background-color: #ff8080;
}

.cm-admonition-type.cm-danger,
.cm-admonition-end.cm-danger{
  color: darkred
}

.failure.CodeMirror-linebackground.admonition,
.failure.admonition-header.CodeMirror-line{
  border-color: darkred;
  background-color: #ff8080;
}

.cm-admonition-type.cm-failure,
.cm-admonition-end.cm-failure  {
  color: darkred
}
