.CodeMirror-line.table-line>span{
  display: table;
  table-layout: fixed;
  width: 100%;
}

.cm-table-cell {
  display: table-cell;
}

.cm-table-cell-content{
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.cm-table-cell-border{
  width: 5px;
}
